<!DOCTYPE html>
<html lang="en" ng-app="MJSC-APP">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="MJSC Webmaster">

	<title>Mount Juliet Soccer Club</title>

	<!-- Bootstrap core CSS -->
	<link href="css/lib/bootstrap.css" rel="stylesheet">

	<!-- Add custom CSS here -->
	<link href="css/main.css" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="css/img/mjscLogo.png" />

	<base href="/">
</head>

<body ng-controller="Main-Controller">
	<nav class="navbar navbar-fixed-top " role="navigation">
		<div class="container large-icons">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<i class="fas fa-2x fa-bars"></i>
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img src="css/img/mjscLogo.png" alt="">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="/">Home</a>
					</li>
					<li class="">
						<a href="/schedule">Training Schedules</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<!-- <li class="dropdown">
					      <a href="#" class="dropdown-toggle" data-toggle="dropdown">FCASL Adult League <b class="caret"></b></a>
				          <ul class="dropdown-menu">
				            <li>
								<a href="docs/FCASL_Rules_2014.pdf">FCASL Rules</a>
							</li>
				          </ul>
				        </li> -->
					<li>
						<a href="/sponsorships">Become a Sponsor!</a>
					</li>
					<!-- <li>
							<a href="http://www.illinoisyouthsoccer.org/">IYSA</a>
						</li> -->
					<li>
						<a href="/contact">Contact Us</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<div class="logo-wrapper column">
		<h1 class="text-center">
			USA's Premier Private Soccer Coaching
		</h1>
		<img class="logo" src="css/img/mjscLogo.png" alt="logo" ng-if="location.$$path !== '/schedule'">
		<img class="logo" src="mjscImages/scheduleLabel.jpg" alt="schedule" ng-if="location.$$path === '/schedule'">
	</div>
	<ng-view></ng-view>
	<footer>
		<!-- <div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">Our Sponsors</div>
						<div class="panel-body sponsors">
							<img src="img/sponsors/GAH_Sign_web.png">
							<img src="img/sponsors/ArendsSons_Sign_web.png" />
							<img src="img/sponsors/BankOfGibson_Sign_web.png" />
							<img src="img/sponsors/Birkeys_Sign_web.png" />
							<img src="img/sponsors/CountryGuyPercy_Sign_web.png" />
							<img src="img/sponsors/DayDrainage_Sign_web.png" />
							<img src="img/sponsors/EckertyLaundry_Sign_web.png" />
							<img src="img/sponsors/EdwardJones_Sign_web.png" />
							<img src="img/sponsors/GCBC_Sign_web.png" />
							<img src="img/sponsors/GCClinic_Sign_web.png" />
							<img src="img/sponsors/GregKurtenbachSF_Sign_web.png" />
							<img src="img/sponsors/MinionRealEstate_Sign_web.png" />
							<img src="img/sponsors/VSI_Sign_web.png" />
						</div>
					</div>
				</div>
			</div> -->
		Copyright © 2018 Mount Juliet Soccer Club Inc. All rights reserved
	</footer>

	</div>
	<!-- /.container -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115402438-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-115402438-1');
	</script>

	<!-- Bootstrap core JavaScript -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- Make sure to add jQuery - download the most recent version at http:// jquery.com/
		// -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
	<script src="js/main.js"></script>
	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
</body>

</html>