/* ----------------------------- */

/* ------- MOBILE Layout ------- */

/* ----------------------------- */
.sponsorship{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsorship {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    height: 100%;
    background-color: lightgray;
}

.sponsorshipInfo {
    width: 75%;
}

/* ----------------------------- */

/* ------- TABLET Layout ------- */

/* ----------------------------- */

@media screen and (min-width: 769px) {}

/* ----------------------------- */

/* ------- DESKTOP Layout ------ */

/* ----------------------------- */

@media screen and (min-width: 1024px) {}

/* ----------------------------- */

/* ------- WIDESCREEN Layout --- */

/* ----------------------------- */

@media screen and (min-width: 1216px) {}

/* ----------------------------- */

/* ------- FULL HD Layout ------ */

/* ----------------------------- */

@media screen and (min-width: 1408px) {}