<div class="flex justifyCenter coachImage">
    <img src="img/jamespicken.png" alt="Head Coach">
</div>
<div class="container">
    <div>
        <a class="btn btn-primary" href="http://www.lebanondemocrat.com/Soccer/2017/11/16/Award-winning-soccer-coach-from-England-starts-Mt-Juliet-Soccer-Club" target="_blank">See the full article about MJSC!</a>
    </div>
    <br>
    <article>
        <p>
            It’s no secret the sport of soccer is starting to grow in Middle Tennessee.
        </p>
        <p>
            With the recent announcement of a professional soccer club potentially coming to Nashville, as well as the
            record-breaking attendance Nashville saw when it held a European professional game, it seems Middle
            Tennesseans
            are more interested in the sport than previously thought.
            Now, Mt. Juliet will be getting a soccer club coached by an award-winning soccer coach from England.
        </p>
        <p>
            Scottish-born James Picken followed his son, Daniel, to Wilson County from England when Daniel signed to
            play
            for
            the soccer team at Cumberland University.
            Picken had coached his son ever since Daniel first started playing soccer at 6 years old. Now he wants to
            use
            his experience as a coach to benefit and grow the local soccer community.
            “I’ve always wanted to develop players and play the right way,” said Picken. “We want to teach them how to
            play
            positions, how to pass the ball, how to defend and give them a broader outlook than everyone chases a ball.”
            In England, Picken coached two youth teams to their league championships, the Rebel Wanderers and the
            Ladybridge
            Lions. The Wanderers won their league, and the Lions finished runner-up.
            Picken himself won coach of the year in 2011-2012 for leading the Lions to the championship game.
        </p>
        <p>
            With Mt. Juliet Soccer Club, Picken wants to start with children 3-5 years old and teach them fundamentals
            first.
            Eventually, he plans to work with older players, as well.
            “I think they can retain it,” said Picken. “They’ll remember as a little kid, you know you remember stuff
            from
            when you were a kid, so if we get them into the positions, we can go forward.”
            According to Picken, he would eventually like to get a league for children going in Mt. Juliet on Saturdays.
            He
            said if there isn’t already a league, he may try to start one.
            “I would like indoor and outdoor facilities in Mt. Juliet and incorporate Lebanon and the local area, but
            that’s
            looking toward the future,” said Picken. “I’d like [local] players to go play for the United States and to
            Europe and play in Europe, because I’ve got the experience. I know what it’s like.”
            The club won’t have tryouts, rather they will do free trials for young children to see how they like it.</p>
        <p>
            “People sign up for these things and the kids don’t like it,” said Picken. “We want to really make it
            enthusiastic and enjoyable for them. It also lets me know what to adapt, because I need to adapt a little
            bit to
            the American children, because I’ve never coached them.”
            The free trials begin Saturday at 4 p.m. at Charlie Daniels Park in Mt. Juliet and will continue at the same
            time every week until Christmas.
            Picken emphasized even in the trial sessions, he will teach the children the fundamentals of the sport.</p>
        <p>
            “When people are playing soccer sometimes, they’re coached just to kick the ball away,” said Picken. “We
            would
            not coach that. We keep possession of the ball. It’s like playing basketball and throwing it to the
            opposition.
            What would happen? Would you win any games?”
            For more information on the Mt. Juliet Soccer Club or the free trials at Charlie Daniels Park in Mt. Juliet,
            call Picken at 615-603-0785.</p>
    </article>
</div>