<div class="franchise-info">
    <h1>MJSC Franchise</h1>
    <h3>MJSC will show you how it works.</h3>
    <h4>You don’t have to even play soccer to operate the MJSC franchise.
        <br> MJSC Operations manual has everything you need to be successful in your new franchise.</h4>

</div>
<hr>
<div class="franchiseList">
    <h2>United States</h2>
    <div class="state-list">
        <div class="state">
            <h3>Alabama</h3>
            <ul>
                <li>Birmingham</li>
                <li>Montgomery</li>
                <li>Huntsville</li>
                <li>Mobile</li>
                <li>Tuscaloosa</li>
            </ul>
        </div>

        <div class="state">
            <h3>Alaska</h3>
            <ul>
                <li>Anchorage</li>
                <li>Fairbanks</li>
                <li>Juneau</li>
                <li>Sitka</li>
                <li>Ketchikan</li>
            </ul>
        </div>

        <div class="state">
            <h3>Arizona</h3>
            <ul>
                <li>Phoenix</li>
                <li>Tuscon</li>
                <li>Mesa</li>
                <li>Chandler</li>
                <li>Glendale</li>
                <li>Tempe</li>
            </ul>
        </div>

        <div class="state">
            <h3>Arkansas</h3>
            <ul>
                <li>Little</li>
                <li>Rock</li>
                <li>Forth Smith</li>
                <li>Fayetteville</li>
                <li>Springdale</li>
                <li>Jonesboro</li>
            </ul>
        </div>

        <div class="state">
            <h3>California</h3>
            <ul>
                <li>Los Angeles</li>
                <li>San Diego</li>
                <li>San Jose</li>
                <li>San Francisco</li>
                <li>Fresno</li>
                <li>Sacramento</li>
            </ul>
        </div>

        <div class="state">
            <h3>Colorado</h3>
            <ul>
                <li>Denver</li>
                <li>Colorado Springs</li>
                <li>Aurora</li>
                <li>Fort Collins</li>
                <li>Lakewood</li>
            </ul>
        </div>

        <div class="state">
            <h3>Connecticut</h3>
            <ul>
                <li>Bridgeport</li>
                <li>New Haven</li>
                <li>Stamford</li>
                <li>Hartford</li>
                <li>Waterbury</li>
            </ul>
        </div>

        <div class="state">
            <h3>Delaware</h3>
            <ul>
                <li>Wilmington</li>
                <li>Dover</li>
                <li>Newark</li>
                <li>Middleton</li>
                <li>Smyrna</li>
            </ul>
        </div>

        <div class="state">
            <h3>Florida</h3>
            <ul>
                <li>Jacksonville</li>
                <li>Miami</li>
                <li>Tampa</li>
                <li>Orlando</li>
                <li>St. Petersburg</li>
                <li>Tallahassee</li>
            </ul>
        </div>

        <div class="state">
            <h3>Georgia</h3>
            <ul>
                <li>Atlanta</li>
                <li>Columbus</li>
                <li>Augusta</li>
                <li>Macon</li>
                <li>Savannah</li>
            </ul>
        </div>

        <div class="state">
            <h3>Hawaii</h3>
            <ul>
                <li>Honolulu</li>
                <li>Hilo</li>
                <li>Kailua</li>
                <li>Kapolei</li>
                <li>Kaneohe</li>
            </ul>
        </div>

        <div class="state">
            <h3>Idaho</h3>
            <ul>
                <li>Boise</li>
                <li>Meridian</li>
                <li>Nampa</li>
                <li>Idaho Falls</li>
                <li>Pocatello</li>
            </ul>
        </div>

        <div class="state">
            <h3>Illinois</h3>
            <ul>
                <li>Chicago</li>
                <li>Aurora</li>
                <li>Rockford</li>
                <li>Joliet</li>
                <li>Naperville</li>
                <li>Springfield</li>
            </ul>
        </div>

        <div class="state">
            <h3>Indiana</h3>
            <ul>
                <li>Indianapolis</li>
                <li>Fort Wayne</li>
                <li>Evansville</li>
                <li>South Bend</li>
                <li>Carmel</li>
            </ul>
        </div>

        <div class="state">
            <h3>Iowa</h3>
            <ul>
                <li>Des Moines</li>
                <li>Cedar Rapids</li>
                <li>Davenport</li>
                <li>Sioux City</li>
                <li>Iowa City</li>
            </ul>
        </div>

        <div class="state">
            <h3>Kansas</h3>
            <ul>
                <li>Witchita</li>
                <li>Overland Park</li>
                <li>Kansas City</li>
                <li>Olathe</li>
                <li>Topeka</li>
            </ul>
        </div>

        <div class="state">
            <h3>Kentucky</h3>
            <ul>
                <li>Louisville</li>
                <li>Lexington</li>
                <li>Bowling</li>
                <li>Green</li>
                <li>Owensboro</li>
                <li>Covington</li>
                <li>Frankfort</li>
            </ul>
        </div>

        <div class="state">
            <h3>Louisiana</h3>
            <ul>
                <li>New</li>
                <li>Orleans</li>
                <li>Baton</li>
                <li>Rouge</li>
                <li>Shreveport</li>
                <li>Lafayette</li>
                <li>Lake</li>
                <li>Charles</li>
            </ul>
        </div>

        <div class="state">
            <h3>Maine</h3>
            <ul>
                <li>Portland</li>
                <li>Lewiston</li>
                <li>Bangor</li>
                <li>South</li>
                <li>Portland</li>
                <li>Auburn</li>
                <li>Augusta</li>
            </ul>
        </div>

        <div class="state">
            <h3>Maryland</h3>
            <ul>
                <li>Baltimore</li>
                <li>Frederick</li>
                <li>Rockville</li>
                <li>Gaithersburg</li>
                <li>Bowie</li>
                <li>Annapolis</li>
            </ul>
        </div>

        <div class="state">
            <h3>Massachusetts</h3>
            <ul>
                <li>Boston</li>
                <li>Worcester</li>
                <li>Springfield</li>
                <li>Lowell</li>
                <li>Cambridge</li>
            </ul>
        </div>

        <div class="state">
            <h3>Michigan</h3>
            <ul>
                <li>Detroit</li>
                <li>Grand</li>
                <li>Rapids</li>
                <li>Warren</li>
                <li>Sterling</li>
                <li>Heights</li>
                <li>Ann</li>
                <li>Arbor</li>
                <li>Lansing</li>
            </ul>
        </div>



        <div class="state">
            <h3>Minnesota</h3>
            <ul>
                <li>Minneapolis</li>
                <li>Saint</li>
                <li>Paul</li>
                <li>Rochester</li>
                <li>Bloomington</li>
                <li>Duluth</li>
            </ul>
        </div>

        <div class="state">
            <h3>Mississippi</h3>
            <ul>
                <li>Jackson</li>
                <li>Gulfport</li>
                <li>Southaven</li>
                <li>Hattiesburg</li>
                <li>Biloxi</li>
            </ul>
        </div>

        <div class="state">
            <h3>Missouri</h3>
            <ul>
                <li>Kansas City</li>
                <li>Saint</li>
                <li>Louis</li>
                <li>Springfield</li>
                <li>Independence</li>
                <li>Columbia</li>
                <li>Jefferson</li>
                <li>City</li>
            </ul>
        </div>



        <div class="state">
            <h3>Montana</h3>
            <ul>
                <li>Billings</li>
                <li>Missoula</li>
                <li>Great</li>
                <li>Falls</li>
                <li>Bozeman</li>
                <li>Butte</li>
                <li>Helena</li>
            </ul>
        </div>

        <div class="state">
            <h3>Nebraska</h3>
            <ul>
                <li>Omaha</li>
                <li>Lincoln</li>
                <li>Bellevue</li>
                <li>Grand</li>
                <li>Island</li>
                <li>Kearney</li>
            </ul>
        </div>

        <div class="state">
            <h3>Nevada</h3>
            <ul>
                <li>Las</li>
                <li>Vegas</li>
                <li>Henderson</li>
                <li>Reno</li>
                <li>N.</li>
                <li>Las</li>
                <li>Vegas</li>
                <li>Sparks</li>
                <li>Carson City</li>
            </ul>
        </div>

        <div class="state">
            <h3>New Hampshire</h3>
            <ul>
                <li>Manchester</li>
                <li>Nashua</li>
                <li>Concord</li>
                <li>Derry</li>
                <li>Rochester</li>
            </ul>
        </div>

        <div class="state">
            <h3>New Jersey</h3>
            <ul>
                <li>Newark</li>
                <li>Jersey City</li>
                <li>Paterson</li>
                <li>Elizabeth</li>
                <li>Edison</li>
                <li>Trenton</li>
            </ul>
        </div>

        <div class="state">
            <h3>New Mexico</h3>
            <ul>
                <li>Albuquerque</li>
                <li>Las</li>
                <li>Cruses</li>
                <li>Rio</li>
                <li>Rancho</li>
                <li>Santa Fe</li>
                <li>Roswell</li>
            </ul>
        </div>

        <div class="state">
            <h3>New York</h3>
            <ul>
                <li>New York City</li>
                <li>Buffalo</li>
                <li>Rochester</li>
                <li>Yonkers</li>
                <li>Syracuse</li>
                <li>Albany</li>
            </ul>
        </div>

        <div class="state">
            <h3>North Carolina</h3>
            <ul>
                <li>Charlotte</li>
                <li>Raleigh</li>
                <li>Greenshoro</li>
                <li>Durham</li>
                <li>Winston-Salem</li>
            </ul>
        </div>

        <div class="state">
            <h3>North Dakota</h3>
            <ul>
                <li>Fargo</li>
                <li>Bismark</li>
                <li>Grand Forks</li>
                <li>Minot</li>
                <li>West Fargo</li>
            </ul>
        </div>

        <div class="state">
            <h3>Ohio</h3>
            <ul>
                <li>Columbus</li>
                <li>Cleveland</li>
                <li>Cincinnati</li>
                <li>Toledo</li>
                <li>Akron</li>
                <li>Dayton</li>
            </ul>
        </div>

        <div class="state">
            <h3>Oklahoma</h3>
            <ul>
                <li>Oklahoma City</li>
                <li>Tulsa</li>
                <li>Norman</li>
                <li>Broken</li>
                <li>Arrow</li>
                <li>Lawton</li>
            </ul>
        </div>

        <div class="state">
            <h3>Oregon</h3>
            <ul>
                <li>Portland</li>
                <li>Salem</li>
                <li>Eugene</li>
                <li>Gresham</li>
                <li>Hillsboro</li>
            </ul>
        </div>

        <div class="state">
            <h3>Pennsylvania</h3>
            <ul>
                <li>Philadelphia</li>
                <li>Pittsburgh</li>
                <li>Allentown</li>
                <li>Erie</li>
                <li>Reading</li>
                <li>Harrisburg</li>
            </ul>
        </div>

        <div class="state">
            <h3>Rhode Island</h3>
            <ul>
                <li>Providence</li>
                <li>Warwick</li>
                <li>Cranston</li>
                <li>Pawtucket</li>
                <li>East Providence</li>
            </ul>
        </div>

        <div class="state">
            <h3>South Carolina</h3>
            <ul>
                <li>Charleston</li>
                <li>Columbia</li>
                <li>North Charleston</li>
                <li>Mount Pleasant</li>
                <li>Rock Hill</li>
                <li>Myrtle Beach</li>
            </ul>
        </div>

        <div class="state">
            <h3>South Dakota</h3>
            <ul>
                <li>Sioux Falls</li>
                <li>Rapid City</li>
                <li>Aberdeen</li>
                <li>Brookings</li>
                <li>Watertown</li>
                <li>Pierre</li>
            </ul>
        </div>

        <div class="state">
            <h3>Tennessee</h3>
            <ul>
                <li>Nashville</li>
                <li>Memphis</li>
                <li>Knoxville</li>
                <li>Chattanooga</li>
                <li>Clarksville</li>
                <li>TriCities</li>
            </ul>
        </div>

        <div class="state">
            <h3>Texas</h3>
            <ul>
                <li>Houston</li>
                <li>San Antonio</li>
                <li>Dallas</li>
                <li>Austin</li>
                <li>Forth Worth</li>
                <li>ElPaso</li>
            </ul>
        </div>

        <div class="state">
            <h3>Utah</h3>
            <ul>
                <li>Salt</li>
                <li>Lake City</li>
                <li>West Valley City</li>
                <li>Provo</li>
                <li>West Jordan</li>
                <li>Orem</li>
            </ul>
        </div>

        <div class="state">
            <h3>Vermont</h3>
            <ul>
                <li>Burlington</li>
                <li>Essex</li>
                <li>South Burlington</li>
                <li>Rutland</li>
                <li>Barre</li>
                <li>Montpelier</li>
            </ul>
        </div>

        <div class="state">
            <h3>Virginia</h3>
            <ul>
                <li>Virginia Beach</li>
                <li>Norfolk</li>
                <li>Chesapeake</li>
                <li>Richmond</li>
                <li>Newport</li>
            </ul>
        </div>

        <div class="state">
            <h3>Washington</h3>
            <ul>
                <li>Seattle</li>
                <li>Spokane</li>
                <li>Tacoma</li>
                <li>Vancouver</li>
                <li>Bellevue</li>
                <li>Olympia</li>
            </ul>
        </div>

        <div class="state">
            <h3>West Virginia</h3>
            <ul>
                <li>Charleston</li>
                <li>Huntington</li>
                <li>Morgantown</li>
                <li>Parksburg</li>
                <li>Wheeling</li>
            </ul>
        </div>

        <div class="state">
            <h3>Wisconsin</h3>
            <ul>
                <li>Milwaukee</li>
                <li>Madison</li>
                <li>Green Bay</li>
                <li>Kenosha</li>
                <li>Racine</li>
            </ul>
        </div>

        <div class="state">
            <h3>Wyoming</h3>
            <ul>
                <li>Cheyenne</li>
                <li>Casper</li>
                <li>Laramie</li>
                <li>Gillette</li>
                <li>Rock</li>
                <li>Springs</li>
            </ul>
        </div>
    </div>
</div>