<div class="container">
    <div class="row section">
        <div class="col-md-7">
            <div class="row">
                <!-- <div class="col-md-12">
								<h1>Registration now CLOSED for the Fall 2016 Season!</h1>
								<p>
									The Fall Season registration is open now! <a href="https://www.gotsport.com/asp/application/reg/Default.asp?ProgramID=49408">Register online here</a>!
									<br/>
									Email <a href="mailto:MJSC.president@gmail.com">Adam Doman</a> with any questions. Season dates will be posted at a later time.
								</p>

								<h2>Season Dates</h2>
								<ul>
									<li>Registration deadline July 15 (closed)</li>
									<li>Fields open for practices to start August 13th</li>
									<li>Games start on August 27th</li>
									<li>Coaches meeting will be August 10th</li>
								</ul>

								<h2>Registration Info</h2>
								<table class="table">
										<tr>
											<th>Age as of 8/1/2016</th>
											<th>Registration Fee</th>
											<th>Jersey Fee</th>
											<th>Game Days</th>
										</tr>
										<tr>
											<td>U4<br/>(3 year olds)</td>
											<td>$25</td>
											<td>Tshirt provided</td>
											<td>Saturday mornings</td>
										</tr>
										<tr>
											<td>U6<br/>(4, 5 year olds)</td>
											<td>$45 ($35 if returning player from Spring 2016)</td>
											<td>$20 available at shed</td>
											<td>Saturday mornings</td>
										</tr>
										<tr>
											<td>U8<br/>(6, 7 year olds)</td>
											<td>$45 ($35 if returning player from Spring 2016)</td>
											<td>$20 available at shed</td>
											<td>Saturday mornings, Tuesday evenings</td>
										</tr>
										<tr>
											<td>U10<br/>(8, 9 year olds)</td>
											<td>$45 ($35 if returning player from Spring 2016)</td>
											<td>$20 available at shed</td>
											<td>Saturday mornings, Tuesday evenings</td>
										</tr>
										<tr>
											<td>U12/U14<br/>(10, 11, 12, and 13 year olds)</td>
											<td>$55 ($45 if returning player from Spring 2016)</td>
											<td>uniform cost additional (includes jersey, shorts)</td>
											<td>Travel, shedule varies</td>
										</tr>
									</table>
							</div> -->

                <div class="col-md-12">
                    <h1>Register in person for the Spring 2018 Training Season!</h1>
                    <p>
                        The Spring Training Season is fast approaching! Contact us before Saturday March 17th to join
                        <br/> Email
                        <a href="mailto:mountjulietsoccerclub@gmail.com">James Picken</a> with any questions regarding registration, season dates, etc.
                    </p>

                    <!-- <h2>Season Dates</h2>
								<ul>
									<li>Registration deadline February 25th, 2016</li>
									<li>Fields open for practices to start March 12th, 2016</li>
									<li>Games start on April 2nd through May 21st, 2016</li>
									<li>Coaches meeting will be March 10th, 2016</li>
								</ul> -->

                    <h2>Registration Info</h2>
                    <table class="table">
                        <tr>
                            <th>Age as of 1/1/2017</th>
                            <th>Registration Fee</th>
                            <th>Jersey Fee</th>
                            <th>Game Days</th>
                        </tr>
                        <tr>
                            <td>U4
                                <br/>(3 year olds)</td>
                            <td>$25</td>
                            <td>Tshirt provided</td>
                            <td>Saturday mornings</td>
                        </tr>
                        <tr>
                            <td>U6
                                <br/>(4, 5 year olds)</td>
                            <td>$45</td>
                            <td>$20 available at shed</td>
                            <td>Saturday mornings</td>
                        </tr>
                        <tr>
                            <td>U8
                                <br/>(6, 7 year olds)</td>
                            <td>$45</td>
                            <td>$20 available at shed</td>
                            <td>Saturday mornings, Tuesday evenings</td>
                        </tr>
                        <tr>
                            <td>U10
                                <br/>(8, 9 year olds)</td>
                            <td>$45</td>
                            <td>$20 available at shed</td>
                            <td>Saturday mornings, Tuesday evenings</td>
                        </tr>
                        <tr>
                            <td>U12/U14
                                <br/>(10, 11, 12, 13 year olds)</td>
                            <td>$55</td>
                            <td>provided</td>
                            <td>Travel, shedule varies</td>
                        </tr>
                    </table>
                </div>

                <!--<div class="row">
							<div class="col-md-12">
								<h1>Register NOW for the FCASL 2014 Summer Season!</h1>
								<p>
									The FCASL 2014 Adult Soccer Season is fast approaching! Teams are starting to form! <a href="https://www.gotsport.com/asp/application/reg/Default.asp?ProgramID=29843&Type=PLAYER">Register online here</a> by June 30, 2014!
									<br/>
									If you know the team you are going to be on, please select your team during registration. If you would like to play this season, but don't have a team yet, please email <a href="mailto:chefghsty@gmail.com">Chris Kasper</a> or <a href="stephenyoung01@hotmail.com">Steve Young</a> with any questions regarding registration, season dates, etc.
									<br/><br/>
									Read the <a href="docs/FCASL_Rules_2014.pdf">FCASL Rules</a> for all the information regarding this season.
								</p>

								<h2>Important Dates</h2>
								<ul>
									<li>Registration deadline June 30, 2014</li>
									<li>Payment deadline July 8, 2014 @ 3:00pm</li>
									<li>Schedules for regular season posted on GotSoccer July 5, 2014</li>
									<li>First games of regular season July 8, 2014</li>
									<li>End of regular season August 9, 2014</li>
									<li>Schedules for post season distributed to teams August 10, 2014</li>
									<li>First games of post season August 12, 2014</li>
									<li>Final games of post season August 16, 2014</li>
								</ul>

								<h2>Registration Info</h2>
								<table class="table">
										<tr>
											<th>Age as of 6/1/2014</th>
											<th>Registration Fee</th>
											<th>Jersey Fee</th>
											<th>Game Days</th>
										</tr>
										<tr>
											<td>Adult<br/>18 years and older</td>
											<td>$45</td>
											<td>Not Provided. Teams responsible for supplying.</td>
											<td>Tuesdays and Thursdays at 6:00pm</td>
										</tr>
									</table>
							</div>
						</div>-->
                <div class="row">
                    <div class="col-md-12">
                        <h1>MJSC is on
                            <img src="img/facebook.jpg" />
                        </h1>
                        <p>
                            Join the MJSC Facebook group page and stay up to date on announcments, registration dates, etc.
                        </p>
                        <p>
                            You can contact us via facebook by messaging one of the admins or ask question via posts! Forms, Schedules, etc. will also
                            be available.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>supa on a bike
                            <small>funds raised for MJSC</small>
                        </h1>
                        <div class="fill supa"></div>
                        <p>
                            The summer of 2009,
                            <a href="mailto:supawanich@gmail.com">Paul Supawanich</a> biked 2500 miles from San Francisco to Gibson City, IL to raise $4000 for
                            the Atlanta Bicycle Coalition and the Ford County Youth Soccer Club. Check out the site at
                            <a title="supa on a bike" href="http://www.supaonabike.blogspot.com" target="_blank">www.supaonabike.blogspot.com</a> to learn more. Thanks Paul!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row section">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Whats happening?
                    </div>
                    <div class="panel-body">
                        Visit MJSC facebook page and check out the events tab!
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Where to find us!
                    </div>
                    <div class="panel-body">
                        <iframe class="fill map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;source=embed&amp;msa=0&amp;msid=113889062770955299297.000462486f2220743b568&amp;ll=40.45423,-88.366942&amp;spn=0.010711,0.019355&amp;output=embed&amp;s=AARTsJpOPfnecGQ4T92Xf9inWANf86Q1Qw"></iframe>
                        <div class="well well-sm">
                            The MJSC Fields are located southeast of County Market at the end of South Wood Street in Gibson City, IL
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row section">
				<div class="col-md-12">
					<h1>Board of Directors</h1>
					<table class="table responsive-table">
						<tr>
							<td>President/Social Committee Chair</td>
							<td><a href="mailto:MJSC.president@gmail.com">Adam Doman</a></td>
						</tr>
						<tr>
							<td>Vice President/Referee Committee Chair</td>
							<td><a href="mailto:reckerty@sbcglobal.net">Rhonda Eckerty</a></td>
						</tr>
						<tr>
							<td>Secretary/Field Committee Chair</td>
							<td><a href="mailto:chefghsty@gmail.com">Chris Kasper</a></td>
						</tr>
						<tr>
							<td>Treasurer, Concessions Committee</td>
							<td><a href="mailto:cndlldy1@gmail.com">Amy Kasper</a></td>
						</tr>
						<tr>
							<td>Board Member, Field Committee</td>
							<td><a href="mailto:stephenyoung01@hotmail.com">Steve Young</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:greg.kurtenbach.rcg3@statefarm.com">Greg Kurtenbach</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:lynzumwalt89@mediacombb.net">Lyn Zumwalt</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:jkz92@prairieinet.net">Jamie Zbinden</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:jkz92@prairieinet.net">Kelli Zbinden</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:sgtmccreary@hotmail.com">Jason McCreary</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:kimsue0906@hotmail.com">Kim McCreary</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:jspj2002@att.net">Sarah Chase</a></td>
						</tr>
					</table>
				</div>
			</div>
			<hr>
 -->