<div class="container">

    <h3 class="text-center">Improve your skills while learning to play the game the right way!</h3>
    <br>
    <h3 class="text-center">Mount Juliet Soccer Club provides soccer training clinics for groups and individuals of all age groups. <br>
        With hands on training from one of Scotland's top coaches, players learn</h3>
    <div class="flex justifyCenter">
        <ul>
            <li class="unstyled"><h3>Proper position strategy and technique</h3></li>
            <li class="unstyled"><h3>Dribbling and shooting</h3></li>
            <li class="unstyled"><h3>Decision making</h3></li>
            <li class="unstyled"><h3>Team work and communication</h3></li>
        </ul>
    </div>
    <div class="row section">
        <div class="col-md-7">
            <div class="row">


                <div class="col-md-12">
                    <h1>Register in person for the 2018 Training Season!</h1>
                    <p>
                        The Spring Training Season is fast approaching! Contact us before Saturday March 17th to join
                        <br/> Email
                        <a href="mailto:mountjulietsoccerclub@gmail.com">James Picken</a> with any questions regarding
                        registration, season dates, etc.
                    </p>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h1>MJSC is on
                            <img src="img/facebook.jpg"/>
                        </h1>
                        <p>
                            Join the MJSC Facebook group page and stay up to date on announcments, registration dates,
                            etc.
                        </p>
                        <p>
                            You can contact us via facebook by messaging one of the admins or ask question via posts!
                            Forms, Schedules, etc. will also
                            be available.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>supa on a bike
                            <small>funds raised for MJSC</small>
                        </h1>
                        <div class="fill supa"></div>
                        <p>
                            The summer of 2009,
                            <a href="mailto:supawanich@gmail.com">Paul Supawanich</a> biked 2500 miles from San
                            Francisco to Gibson City, IL to raise $4000 for
                            the Atlanta Bicycle Coalition and the Ford County Youth Soccer Club. Check out the site at
                            <a title="supa on a bike" href="http://www.supaonabike.blogspot.com" target="_blank">www.supaonabike.blogspot.com</a>
                            to learn more. Thanks Paul!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row section">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Whats happening?
                    </div>
                    <div class="panel-body">
                        Visit MJSC facebook page and check out the events tab!
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Where to find us!
                    </div>
                    <div class="panel-body">
                        <iframe class="fill map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;source=embed&amp;msa=0&amp;msid=113889062770955299297.000462486f2220743b568&amp;ll=40.45423,-88.366942&amp;spn=0.010711,0.019355&amp;output=embed&amp;s=AARTsJpOPfnecGQ4T92Xf9inWANf86Q1Qw"></iframe>
                        <div class="well well-sm">
                            The MJSC Fields are located southeast of County Market at the end of South Wood Street in
                            Gibson City, IL
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row section">
				<div class="col-md-12">
					<h1>Board of Directors</h1>
					<table class="table responsive-table">
						<tr>
							<td>President/Social Committee Chair</td>
							<td><a href="mailto:MJSC.president@gmail.com">Adam Doman</a></td>
						</tr>
						<tr>
							<td>Vice President/Referee Committee Chair</td>
							<td><a href="mailto:reckerty@sbcglobal.net">Rhonda Eckerty</a></td>
						</tr>
						<tr>
							<td>Secretary/Field Committee Chair</td>
							<td><a href="mailto:chefghsty@gmail.com">Chris Kasper</a></td>
						</tr>
						<tr>
							<td>Treasurer, Concessions Committee</td>
							<td><a href="mailto:cndlldy1@gmail.com">Amy Kasper</a></td>
						</tr>
						<tr>
							<td>Board Member, Field Committee</td>
							<td><a href="mailto:stephenyoung01@hotmail.com">Steve Young</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:greg.kurtenbach.rcg3@statefarm.com">Greg Kurtenbach</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:lynzumwalt89@mediacombb.net">Lyn Zumwalt</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:jkz92@prairieinet.net">Jamie Zbinden</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:jkz92@prairieinet.net">Kelli Zbinden</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:sgtmccreary@hotmail.com">Jason McCreary</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:kimsue0906@hotmail.com">Kim McCreary</a></td>
						</tr>
						<tr>
							<td>Board Member</td>
							<td><a href="mailto:jspj2002@att.net">Sarah Chase</a></td>
						</tr>
					</table>
				</div>
			</div>
			<hr>
 -->