<div class="container">
    <h1>
        Group Coaching Sessions
    </h1>
    <button class="btn btn-primary btn-lg">Register for Group Coaching!</button>
    <hr>
    <div class="scheduleWrapper">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Age Group</th>
                <th>Location</th>
                <th>Time</th>
                <th>Price</th>
                <th>Requirements</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>3-4 years</td>
                <td>Charlie Daniels Park, Mount Juliet</td>
                <td>Saturdays, 9:00-9:45AM</td>
                <td>Session: $20, Season: $100</td>
                <td>
                    <ul>
                        <li class="">Running shoes or cleats</li>
                        <li class="">Size 3 soccer ball</li>
                        <li class="">Players must wear shorts</li>
                        <li class="">shin guards are optional</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>5-8 years</td>
                <td>Charlie Daniels Park, Mount Juliet</td>
                <td>Saturdays, 10:00-10:45AM</td>
                <td>Session: $20, Season: $100</td>
                <td>
                    <ul>
                        <li class="">Running shoes or cleats</li>
                        <li class="">Size 4 soccer ball</li>
                        <li class="">Players must wear shorts</li>
                        <li class=""> Shin guards are required</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>9-12 years</td>
                <td>Charlie Daniels Park, Mount Juliet</td>
                <td>Saturdays, 11:00-11:45AM</td>
                <td>Session: $20, Season: $100</td>
                <td>
                    <ul>
                        <li class="">Running shoes or cleats</li>
                        <li class="">Size 5 soccer ball</li>
                        <li class="">Players must wear shorts</li>
                        <li class=""> Shin guards are required</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>13-15 years</td>
                <td>Charlie Daniels Park, Mount Juliet</td>
                <td>Saturdays, 12:00-12:45AM</td>
                <td>Session: $20, Season: $100</td>
                <td>
                    <ul>
                        <li class="">Running shoes or cleats</li>
                        <li class="">Size 5 soccer ball</li>
                        <li class="">Players must wear shorts</li>
                        <li class=""> Shin guards are required</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>16-18 years</td>
                <td>Charlie Daniels Park, Mount Juliet</td>
                <td>Saturdays, 1:00-1:45PM</td>
                <td>Session: $20, Season: $100</td>
                <td>
                    <ul>
                        <li class="">Running shoes or cleats</li>
                        <li class="">Size 5 soccer ball</li>
                        <li class="">Players must wear shorts</li>
                        <li class=""> Shin guards are required</li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <h1>
            Private Coaching Sessions
        </h1>
        <button class="btn btn-primary btn-lg">Register for Group Coaching!</button>
        <hr>
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Age Group</td>
                <td>Location</td>
                <td>Time</td>
                <td>Price</td>
                <td>Requirements</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>8 Years and older</td>
                <td>Charlie Daniels Park, Mount Juliet</td>
                <td>Saturdays, starting at 2PM, unless scheduled otherwise</td>
                <td>Session: $30, Season: $150</td>
                <td>
                    <ul>
                        <li class="">Cleats are required</li>
                        <li class="">Size 5 soccer ball</li>
                        <li class="">Players must wear shorts</li>
                        <li class="">shin guards are required</li>
                    </ul>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>