<div class="container">
    <div class="imageWrapper"></div>
    <h1>
        Group Coaching Sessions
    </h1>
    <button class="btn btn-primary btn-lg">Register for Group Coaching!</button>
    <hr>
    <div class="scheduleWrapper">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Age Group</th>
                    <th>Location</th>
                    <th>Time</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3-4 years</td>
                    <td>Charlie Daniels Park, Mount Juliet</td>
                    <td>Saturdays, 9:00-9:40AM</td>
                    <td>5-sessions: $100</td>
                </tr>
                <tr>
                    <td>5-8 years</td>
                    <td>Charlie Daniels Park, Mount Juliet</td>
                    <td>Saturdays, 9:45-10:25AM</td>
                    <td>5-sessions: $100</td>
                </tr>
                <tr>
                    <td>9-12 years</td>
                    <td>Charlie Daniels Park, Mount Juliet</td>
                    <td>Saturdays, 10:30-11:10AM</td>
                    <td>5-sessions: $100</td>
                </tr>
                <tr>
                    <td>13-15 years</td>
                    <td>Charlie Daniels Park, Mount Juliet</td>
                    <td>Saturdays, 11:15-12:55AM</td>
                    <td>5-sessions: $100</td>
                </tr>
                <tr>
                    <td>16-18 years</td>
                    <td>Charlie Daniels Park, Mount Juliet</td>
                    <td>Saturdays, 12:00-12:40PM</td>
                    <td>5-sessions: $100</td>
                </tr>
            </tbody>
        </table>
        <h1>
            Private Coaching Sessions
        </h1>
        <button class="btn btn-primary btn-lg">Register for Group Coaching!</button>
        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Age Group</td>
                    <td>Location</td>
                    <td>Time</td>
                    <td>Price</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8 Years and older</td>
                    <td>Charlie Daniels Park, Mount Juliet</td>
                    <td>Saturdays, starting at 12:45PM, unless scheduled otherwise</td>
                    <td>5-sessions: $200</td>
                </tr>

            </tbody>
        </table>
    </div>
    <a href="/mjscImages/scheduleLabel.jpg" target="_blank" download="/mjscImages/scheduleLabel.jpg">
        <h4>Download Schedule</h4>
    </a>
</div>