<div class="scholarships">
    <h1>World Wide Soccer Players/Schoarships for Soccer</h1>
    <h2>Would you like a scholarship playing soccer in the USA?</h2>
    <h3>MJSC can help you achieve this.</h3>

    <div class="info-wrapper">
        <h4>Contact James Picken with an inquiry: mtjulietsoccerclub@gmail.com</h4>

        <h5>Requirements</h5>
        <ul>
            <li>You will have to have good standards at your high school or college.</li>
            <li>Must be a good player.</li>
            <li>You will need a video of yourself playing or demonstrating your skills.</li>
            <li>There is a charge for finding you a University.</li>
        </ul>

        <h5>Contact Us P.O. Box 863 Mount Juliet, Tn 37122 615-615-603-0785 Mtjulietsoccerclub@gmail.com</h5>
    </div>
</div>